<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace对应接口全类名 -->
<mapper namespace="usts.pycro.mybatis.mapper.CacheMapper">

    <!-- 开启缓存 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <insert id="insertEmp">
        insert into t_emp
        values (null, #{empName}, #{age}, #{gender}, #{email}, null)
    </insert>

    <select id="getEmpById" resultType="Emp">
        select *
        from t_emp
        where emp_id = #{empId}
    </select>

</mapper>